@import "tailwindcss";

@import "tailwindcss";

/* Base theme (dark) */
:root {
  --color-background: #0b0b0c;
  --color-foreground: #f5f5f7;
  --color-primary: #3b82f6;
  --color-secondary: #facc15;

  --button-color: #3b82f6;
  --button-border: #051938;


  --font-sans: Arial, Helvetica, sans-serif;
  --font-mono: monospace;
}

/* light theme */
[data-theme="light"] {

    --color-background: #ffffff;
  --color-foreground: #0b0b0c;
  --color-primary: #1e40af; /* example primary */
  --color-secondary: #f59e0b;

  --button-color: #3b82f6;
  --button-border: #000000;
}

/* Sepia theme */
[data-theme="sepia"] {
  --color-background: #f4ecd8;
  --color-foreground: #3e2c00;
  --color-primary: #a16207;
  --color-secondary: #b45309;

  --button-color: #3b82f6;
  --button-border: #000000;
}

/* Apply variables */
body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}
